@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

html {
  scroll-behavior: smooth;
}

/* Animasi hover untuk elemen neo-brutalism */
.hover-brutal {
  transition: transform 0.2s ease;
}

.hover-brutal:hover {
  transform: translate(-4px, -4px);
  box-shadow: 8px 8px 0px 0px #000000;
}
